
body {
    margin: 0px;
}
header {
background-color: red;
width: 100%;
height: 600px;
}

#red-sec {
    background-color: red;
    width: 100%;
    height: 500px;
}

#green-sec {
background-color: green;
width: 100%;
height: 500px;
}

#blue-sec {
background-color: blue;
width: 100%;
height: 500px;
}